<h2 style="text-align: center;">Attribute Binding</h2><hr>
<p>{{ title }} app is running!</p>

<table [attr.border]="bdr" [attr.height]=height>
  <tr>
    <!-- <th colspan="4"> Student Details</th> -->
    <th [attr.colspan]="col"> Student Details</th>
   
  </tr>
  <tr>
    <td>ID</td>
    <td>Name</td>
    <td>Class</td>
    <td>Division</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Harry</td>
    <td>10</td>
    <td>A</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Shyam</td>
    <td>9</td>
    <td>B</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Amit</td>
    <td>8</td>
    <td>C</td>
  </tr>
  </table>


    